* {
  box-sizing: border-box;
}

/* Set a Background Color */
body {
	margin: 0;
	padding: 0;
	background: #474e5d;
	font-family: Helvetica, sans-serif;
}

/* The Actual Timeline (The Vertical Ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

/* The Actual Timeline (The Vertical Ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background: #fff;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

/* Container Around Content */
.timeline .container {
	padding: 10px 40px;
	position: relative;
	background: inherit;
	width: 50%;
}

/* The Circles on the Timeline */
.timeline .container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background: #fff;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Place the Container to the Left */
.timeline .left {
	left: 0;
}	

/* Place the Container to the Right */
.timeline .right {
	left: 50%;
}

/* Add Arrows to the Left Container (Pointing Right) */
.timeline .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

/* Add Arrows to the Right Container (Pointing Left) */
.timeline .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

/* Fix the Circle for Containers on the Right Side */
.timeline .right::after {
	left: -16px;
}

/* The Actual Content */
.timeline .container .content {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
}

/* Media Queries - Responsive Timeline on Screens less than 600px Wide */
@media all and (max-width: 600px) {
	/* Place the Timeline to the Left */
	.timeline::after {
		left: 31px;
	}
	
	/* Full-Width Containers */
	.timeline .container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	
	/* Make sure the All Arrows are Pointing Leftwards */
	.timeline .container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}
	
	/* Make sure All Circles are the Same Spot */
	.timeline .left::after,
	.timeline .right::after {
		left: 15px;
	}
	
	/* Make All Right Containers behave like the Left Ones */
	.timeline .right {
		left: 0;
	} 
}